body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
header{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: rgb(230, 252, 252);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .wifi{
    display: flex;
    margin-left: 100px;
}
header .wifi img{
    width: 50px;
    opacity: 0.5;
}
header .wifi p{
    opacity: 0.8;
    font-family: sans-serif;
}
header .contact{
    display: flex;
    margin-right: 50px;
}
header .contact p{
    margin-right: 50px;
    opacity: 0.7;
}
header .contact img{
    width: 20px;
    height: 20px;
    opacity: 0.5;   
}
header .contact .msg{
    margin-top: 14px;
    margin-right: 10px;
}
header .contact .loc{
    margin-top: 14px;
}
.sec1{
    width: 86%;
    height: 80px;
    margin-left: 94px;
    position: relative;
}
.sec1 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec1 .logo{
    margin: 15px;
    left: -10px;
    cursor: pointer;
    position: absolute;
}
.logo img{
    width: 200px;
}
.sec1 .nav{
    position: absolute;
    right: 0;
    top: 13px;
}
.sec1 .nav ul{
    list-style: none;
    margin-right: 200px;
    margin-top: 20px;
    
}
.sec1 .nav ul li{
    float: left;
    padding-right: 50px;
    cursor: pointer;
}
.sec1 .nav ul li:hover{
    color: rgb(11, 117, 238);
    transition: ease-in 0.5s;
}
.sec1 .nav button{
    width: 210px;
    height: 50px;
    margin-right: 0px;
    position: absolute;
    letter-spacing: 2px;
    transform: translateY(-14px);
    border: none;
    outline: none;
    background-color: rgb(15, 172, 245);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    right: 0;
    cursor: pointer;
}
.sec1 .nav button:hover{
    letter-spacing: 3px;
    font-weight: bold;
    background-color: aqua;
    color: black;
    transition: ease-in 0.5s;
}
.sec2{
    width: 100%;
    position: relative;
    height: 500px;
}
.sec2 .pic{
    position: relative;
    width: 100%;
    height: 100%;
}
.sec2 .text{
    position: absolute;
    margin-left: 94px;
    top: 60px;
    line-height: px;
}
.sec2 .pic .doctor{
    width: 100%;
    height: 100%;
    position: absolute;
}
.sec2 .pic .text img{
    position: absolute;
    height: 100px;
    width: 200px;
}
.sec2 .pic .text .glass{
    transform: translateY(-430px);
    right: -403px;
    position: absolute;
}
.sec2 .pic .text .biri{
    transform: translateY(-346px);
    right: -340px;
}
.sec2 .text h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 0.01;
    opacity: 0.9;
    letter-spacing: 1px;
}
.sec2 .text .for{
    font-size: 70px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(-70px);
    opacity: 0.9;
}
.sec2 .text .in{
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
    transform: translateY(-130px);
    line-height: 25px;
    letter-spacing: 0.5px;
}
.sec2 .text button{
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 2px 2px;
    color: white;
    background-color: rgb(15, 172, 245);
    cursor: pointer;
    transform: translateY(-100px);
}
.sec2 .text button:hover{
    letter-spacing: 1px;
    font-weight: bold;
    background-color: aqua;
    color: black;
    transition: ease-in 0.5s;
    background-color: white;
}
.sec3{
    width: 100%;
    height: 300px;
    background-color: rgb(130, 202, 243);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.sec3 div{
    margin-left: 94px;
}
.sec3 .box1{
    position: relative;
    height: 100%;
    width: 30%;
    background-color: rgb(130, 202, 243);
}
.sec3 .box2{
    position: relative;
    height: 100%;
    width: 30%;
    background-color: rgb(92, 194, 253);
}
.sec3 .box3{
    position: relative;
    height: 100%;
    width: 30%;
    background-color: rgb(130, 202, 243);
    margin-right: 94px;
}
.sec3 img{
    width: 70px;
    height: 70px;
}
.sec3 h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.sec3 p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.sec3 .box1 h1{
    left: 12px;
    position: absolute;
    top: 60px;
}
.sec3 .box1 p{
    left: 12px;
    position: absolute;
    top: 110px;
    line-height: 26px;
}
.sec3 .box1 button{
    margin-top: 200px;
    position: absolute;
    width: 150px;
    height: 40px;
    border-radius: 3px 3px;
    border: solid 1px white;
    outline: none;
    color: white;
    background-color: rgb(130, 202, 243);
    left: 12px;
}
.sec3 .box2 h1{
    position: absolute;
    top: 60px;
    left: 40px;
}
.sec3 .box2 p{
    left: 40px;
    position: absolute;
    top: 110px;
    line-height: 26px;
}
.sec3 .box2 button{
    margin-top: 200px;
    position: absolute;
    width: 150px;
    height: 40px;
    border-radius: 3px 3px;
    border: solid 1px white;
    outline: none;
    color: white;
    background-color: rgb(92, 194, 253);
    left: 40px;
}
.sec3 .box2 img{
    left: 24px;
    position: absolute;
}
.sec3 .box3 h1{
    left: -10px;
    position: absolute;
    top: 60px;
}
.sec3 .box3 p{
    left: -10px;
    position: absolute;
    top: 110px;
    line-height: 26px;
}
.sec3 .box3 button{
    margin-top: 200px;
    position: absolute;
    width: 150px;
    height: 40px;
    border-radius: 3px 3px;
    border: solid 1px white;
    outline: none;
    color: white;
    background-color: rgb(130, 202, 243);
    left: -10px;
}
.sec3 .box3 img{
    left: -24px;
    position: absolute;
}
.sec3 button:hover{
    border: solid 3px red;
    border-radius: 6px;
    background-color: green;
    color: aqua;
    letter-spacing: 1px;
    transition: ease-in 0.5s;
    cursor: pointer;
}
